<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Latest News</h3>
    <h4>Retiring vue-resource</h4>
    <h5>Nov 3, 2016</h5>
    <p>As Vue users, many of you may have used vue-resource for handling ajax requests in your Vue applications. For a long time it’s been thought of as the “official” ajax library for Vue, but today we are retiring it from official recommendation status.<br/><a href="https://medium.com/the-vue-point/retiring-vue-resource-871a82880af4?source=collection_home_________0_---6------0" target="_blank">Read more</a></p>
    <p></p>
    <h4>Vue 2.0 is Here!</h4>
    <h5>Sep 30, 2016</h5>
    <p>Today I am thrilled to announce the official release of Vue.js 2.0: Ghost in the Shell. After 8 alphas, 8 betas and 8 rcs (a total coincidence!), Vue.js 2.0 is ready for production! The official guide has been fully updated and is available at vuejs.org/guide.<br/><a href="https://medium.com/the-vue-point/vue-2-0-is-here-ef1f26acf4b8?source=collection_home_________1_---6------1" target="_blank">Read more</a></p>
    
    <a href="https://medium.com/the-vue-point" target="_blank">More news...</a>

    <h3>Useful Links</h3>
    <ul>
        <li><a href="http://vuejs.org/" target="_blank">Vue.js</a></li>
        <li><a href="http://vuex.vuejs.org/en/" target="_blank">Vuex</a></li>
        <li><a href="http://router.vuejs.org/en/" target="_blank">Vue-Router</a></li>
        <li><a href="https://vuecomponents.com/" target="_blank">Vue Components</a></li>
        <li><a href="https://github.com/vuejs/awesome-vue#libraries--plugins" target="_blank">Vue Awesome</a></li>
    </ul>
    <h3>Search</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="app/img/search.png" alt="Search" title="Search" />
        </p>
    </form>
</div>