<article>
    <h1>Vuex-Examples</h1>

    <p>This package represents the work of Vuex (state management pattern) for <a href="http://vuejs.org/" target="_blank">Vue.js</a> applications.</p>
    <p>This package can Build reactive Web user interfaces. It can process HTML templates to generate Web application views that be composed by different parts.</p>

    <h2>Installing</h2>

    <h3>Prerequisites</h3>

    <ul>
        <li><a href="https://httpd.apache.org/download.cgi" target="_blank">Apache2</a>, <a href="http://nginx.org/en/" target="_blank">Nginx</a>            web server or similar</li>
    </ul>

    <h3>Deploying</h3>

    <ol>
        <li>Clone or download <a href="https://github.com/bsa-git/vuex-examples/" target="_blank">vuex-examples</a> project with
            git.</li>
        <li>Configure the web server so that the entry point was <code>index.html</code>.</li>
        <li>Access your project url with web browser (eg. http://localhost/vuex-examples/index.html).</li>
    </ol>

    <h2>Overview Vuex</h2>

    <h3>What is a "State Management Pattern"?</h3>
    <p>
        Vuex is a <code>state management pattern + library</code> for <a href="http://vuejs.org/" target="_blank">Vue.js</a>        applications. It serves as a centralized store for all the components in an application, with rules ensuring that
        the state can only be mutated in a predictable fashion. It also integrates with Vue's official <a href="https://github.com/vuejs/vue-devtools"
            target="_blank">devtools extension</a> to provide advanced features such as zero-config time-travel debugging and
        state snapshot export / import.
    </p>
    <p>
        <a href="app/img/vuex.png" target="_blank"><img src="app/img/vuex.png" alt="vuex" style="max-width:100%;"></a>
    </p>
    <ul>
        <li><a href="http://vuex.vuejs.org/en/intro.html" target="_blank">What is Vuex?</a></li>
        <li><a href="http://vuex.vuejs.org/" target="_blank">Full Documentation</a></li>
    </ul>
</article>